<section class="content-fixed pt-lg pb-xxl">
	<h4>Login form</h4>

	<form class="flex-row gap-sm mt-md" [formGroup]="form" (submit)="onSubmit()">
		<input
			class="p-sm round-sm surface-radiant color-vivid"
			type="text"
			formControlName="username"
		/>
		<input
			class="p-sm round-sm surface-radiant color-vivid"
			type="password"
			formControlName="password"
		/>

		<button class="p-sm round-sm surface-serene color-vivid" type="submit">Send</button>
	</form>

	<p class="color-radiant mt-sm" *ngIf="error()">Error: {{ error() }}</p>
</section>
