<main
	id="game"
	class="content-fixed py-sm px-md"
	[class]="{ 'avoid-status-bar': avoidStatusBar() }"
>
	<div class="flex-row justify-between">
		<div class="flex-col gap-sm">
			<a [routerLink]="'/'">Sets found: {{ validSets().length }}</a>
			<button (click)="cheatGame()">Wrong sets: {{ invalidSets().length }}</button>
			<a [routerLink]="'/game'">Card in deck: {{ cardsInDeck() }}</a>
		</div>

		<div class="flex-col gap-sm">
			<button class="p-sm surface-vivid round-md text-center" (click)="addCardsToBoard()">
				Add cards
			</button>

			<button class="p-sm surface-vivid round-md" (click)="highlightSet()">Highlight set</button>
		</div>
	</div>

	<p class="info my-sm mb-md">{{ message() }}</p>

	<section id="card-game" class="flex-row flex-wrap justify-center">
		@for (card of boardCards(); track $index) {
			<app-card
				[shape]="card.shape"
				[color]="card.color"
				[shading]="card.shading"
				[count]="card.number"
				[vertical]="true"
				[selected]="this.selectedCards().includes(card)"
				[highlighted]="showSets() % 2 === 1 && boardSet().includes(card)"
				(click)="selectCard(card)"
			></app-card>
		}
	</section>

	@if (gameCompleted() === true) {
		<app-you-won (playAgain)="newGame()"></app-you-won>
	}
</main>
