{
	"files": ["*.css", "**/*.css"],
	"extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order"],
	"plugins": ["stylelint-scss", "stylelint-order"],
	"defaultSeverity": "warning",
	"ignoreFiles": ["**/_*.scss"],
	"overrides": [
		{
			"files": ["*.scss", "**/*.scss"],
			"customSyntax": "postcss-scss"
		}
	],
	"rules": {
		"indentation": "tab",
		"string-quotes": "single",
		"color-hex-length": "long"
	}
}
