<div id="main-layout" class="fl-cl">
	<nav class="content-fixed fl-cl al-cn py-md gap-md">
		<h1>This is the main-layout</h1>

		<ul class="fl-rw gap-sm">
			<li class="br-sm p-xs px-sm bg-radiant c-vivid">
				<a routerLink="/register">register</a>
			</li>
			<li class="br-sm p-xs px-sm bg-radiant c-vivid">
				<a routerLink="/login">login</a>
			</li>
			<li class="br-sm p-xs px-sm bg-radiant c-vivid">
				<a href="javascript: void 0" (click)="logout()">logout</a>
			</li>
			<li class="br-sm p-xs px-sm bg-radiant c-vivid">
				<a routerLink="/home">home</a>
			</li>
			<li class="br-sm p-xs px-sm bg-radiant c-vivid">
				<a routerLink="/example">example</a>
			</li>
		</ul>
	</nav>

	<div class="scroll">
		<router-outlet></router-outlet>
	</div>
</div>
