<div id="main-layout" class="flx-col">
	<nav class="content-fixed flx-col alg-cen py-md gap-md">
		<h1>This is the main-layout</h1>

		<ul class="flx-row gap-sm">
			<li class="br-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/register">register</a>
			</li>
			<li class="br-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/login">login</a>
			</li>
			<li class="br-sm p-xs px-sm surface-radiant color-vivid">
				<a href="javascript: void 0" (click)="logout()">logout</a>
			</li>
			<li class="br-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/home">home</a>
			</li>
			<li class="br-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/example">example</a>
			</li>
		</ul>
	</nav>

	<div class="scroll">
		<router-outlet></router-outlet>
	</div>
</div>
