<main class="flex-column">
	<nav class="content-fixed flex-column align-center p-md gap-md">
		<h4>This is the main-layout</h4>

		<ul class="flex-row gap-sm">
			<li class="rounded-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/register">register</a>
			</li>
			<li class="rounded-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/login">login</a>
			</li>
			<li class="rounded-sm p-xs px-sm surface-radiant color-vivid">
				<a href="javascript: void 0" (click)="logout()">logout</a>
			</li>
			<li class="rounded-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/home">home</a>
			</li>
			<li class="rounded-sm p-xs px-sm surface-radiant color-vivid">
				<a routerLink="/example">example</a>
			</li>
		</ul>
	</nav>

	<div class="scroll">
		<router-outlet></router-outlet>
	</div>
</main>
