<main id="register" class="content-fixed flex-col gap-md pt-lg pb-xxl">
	<h4>Register form</h4>

	@if (user()) {
		<div class="round-lg surface-serene color-vivid p-md mt-sm">
			<h5>Welcome</h5>
			{{ user() | json }}
		</div>
	}

	<div class="flex-col gap-sm">
		<form class="flex-col gap-sm" [formGroup]="form" (submit)="onSubmit()">
			<input
				class="p-sm round-sm surface-vivid color-cosmic"
				type="text"
				formControlName="username"
			/>
			<input
				class="p-sm round-sm surface-vivid color-cosmic"
				type="password"
				formControlName="password"
			/>

			<button
				class="text-center p-sm round-sm surface-serene color-vivid"
				type="submit"
				[disabled]="loading()"
			>
				Send
			</button>
		</form>

		@if (error()) {
			<p class="color-radiant text-sm mt-sm">Error: {{ error() | json }}</p>
		}
	</div>
</main>
