@use 'sass:math';

$glitch-steps: 20;
$glitch-duration: calc(var(--glitch-duration) * 1s);

@keyframes glitch-left {
	@for $i from 0 through $glitch-steps {
		#{percentage($i * calc(1 / $glitch-steps))} {
			$top: var(--random-left-top-frame-#{$i});
			$bottom: var(--random-left-bottom-frame-#{$i});

			$top-with-percent: calc($top * 1%);
			$bottom-with-percent: calc($bottom * 1%);

			z-index: math.random(2);
			clip-path: inset(#{$top-with-percent} 0 #{$bottom-with-percent} 0);
		}
	}
}

@keyframes glitch-right {
	@for $i from 0 through $glitch-steps {
		#{percentage($i * calc(1 / $glitch-steps))} {
			$top: var(--random-right-top-frame-#{$i});
			$bottom: var(--random-right-bottom-frame-#{$i});

			$top-with-percent: calc($top * 1%);
			$bottom-with-percent: calc($bottom * 1%);

			clip-path: inset(#{$top-with-percent} 0 #{$bottom-with-percent} 0);
		}
	}
}

.glitch {
	$offset: calc(var(--glitch-offset) * 1px);
	$left-filter: hue-rotate(calc(360 / 3) * 1deg) brightness(140%);
	$right-filter: hue-rotate(calc(360 / 3) * 2deg) brightness(140%);

	position: relative;
	height: 100%;
	padding: 0 $offset;

	> img {
		height: 100%;
	}

	.left,
	.right,
	.outside,
	.inside {
		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		justify-content: center;

		width: 100%;
		height: 100%;

		img {
			position: absolute;
		}
	}

	.left {
		animation: glitch-left $glitch-duration infinite linear alternate-reverse;

		.outside {
			left: calc($offset * -1);

			img:first-child {
				filter: $left-filter !important;
			}
		}

		.inside {
			img:first-child {
				filter: $right-filter !important;
			}

			img:last-child {
				mask-position: calc($offset * -1) center;
				mask-repeat: no-repeat;
			}
		}
	}

	.right {
		z-index: 1;
		animation: glitch-right $glitch-duration infinite linear alternate-reverse;

		.outside {
			left: calc($offset);

			img:first-child {
				filter: $right-filter !important;
			}
		}

		.inside {
			img:first-child {
				filter: $left-filter !important;
			}

			img:last-child {
				mask-position: calc($offset) center;
				mask-repeat: no-repeat;
			}
		}
	}

	&:not(:hover) {
		.left,
		.right,
		.outside,
		.inside {
			display: none;
		}
	}
}
