/* You can add global styles to this file, and also import other style files */
@use 'the-new-css-reset/css/reset';

@use './scss/main';

html {
	cursor: default;

	overscroll-behavior: none;

	font-family: Recursive, sans-serif;
	font-size: 16px;
	font-weight: var(--font-weight-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-xxl);
}

h1 {
	font-size: var(--font-size-xxxl);
}

h2 {
	font-size: var(--font-size-xxl);
}

h3 {
	font-size: var(--font-size-xl);
}

h4 {
	font-size: var(--font-size-lg);
}

h5 {
	font-size: var(--font-size-md);
}

h6 {
	font-size: var(--font-size-sm);
}

#confetti {
	position: relative;
	z-index: 100;
}

button,
.btn,
a {
	cursor: default;

	&:hover {
		opacity: 0.8;
	}
}
