@use 'sass:map';

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

@function get-rules() {
	$all-rules: ();

	@each $size in map-keys(var.$border-radius) {
		$rules: (
			rounded-#{$size}:
				(
					border-radius: var(--border-radius-#{$size}),
				)
		);

		$all-rules: map.merge($all-rules, $rules);
	}

	@return $all-rules;
}

@each $size in map-keys(var.$border-radius) {
	.rounded-#{$size} {
		border-radius: var(--border-radius-#{$size});
	}
}

@include mix.generate-responsive(get-rules());
