@use 'sass:map';

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

@function get-rules($dark-mode: false) {
	$all-rules: ();

	@each $name in map-keys(var.$colors) {
		$adjusted-color: if($dark-mode, var(--color-dark-#{$name}), var(--color-#{$name}));

		$rules: (
			color-#{$name}:
				(
					color: $adjusted-color,
				),
			surface-#{$name}:
				(
					background-color: $adjusted-color,
				)
		);

		$all-rules: map.merge($all-rules, $rules);
	}

	@return $all-rules;
}

@include mix.generate-responsive(get-rules());

.dark-mode {
	@include mix.generate-responsive(get-rules(true));
}
