@use 'sass:meta';
@use 'sass:map';

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

@function get-list($items, $rules-getter: get-rules) {
	$rules: ();

	@each $name in map.keys($items) {
		$rules-list: meta.call(meta.get-function($rules-getter), $name);

		$rules: map.merge($rules, $rules-list);
	}

	@return $rules;
}

@function get-rules($name) {
	@return (
		color-#{$name}: (color: var(--color-#{$name})),
		surface-#{$name}: (background-color: var(--color-#{$name}))
	);
}

@function get-card-rules($name) {
	@return (card-#{$name}: (background-color: var(--card-#{$name})));
}

@include mix.generate-responsive(get-list(var.$colors));

.dark-mode {
	@include mix.generate-responsive(get-list(var.$dark-colors));
}

@include mix.generate-responsive(get-list(var.$card-colors, get-card-rules));
