@use 'sass:meta';
@use 'sass:map';

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

@function get-list($items, $rules-getter: get-rules) {
	$rules: ();

	@each $name in map.keys($items) {
		$rules-list: meta.call(meta.get-function($rules-getter), $name);

		$rules: map.merge($rules, $rules-list);
	}

	@return $rules;
}

@function get-rules($name) {
	@return (shadow-#{$name}: (box-shadow: var(--shadow-#{$name})));
}

@include mix.generate-responsive(get-list(var.$shadows));
