@use 'sass:map';

@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

@font-face {
	font-family: HelveticaNowDisplay;
	font-weight: normal;
	font-style: normal;
	src: url('/assets/fonts/helvetica-now/regular.woff2') format('woff2-variations');
}

@font-face {
	font-family: HelveticaNowDisplay;
	font-weight: normal;
	font-style: italic;
	src: url('/assets/fonts/helvetica-now/italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: Recursive;
	src: url('/assets/fonts/recursive/latin_basic.woff2') format('woff2-variations');
}

@function get-list($items) {
	$rules: ();

	@each $name in map.keys($items) {
		$rules: map.merge($rules, get-rules($name));
	}

	@return $rules;
}

@function get-rules($name) {
	@return (fs-#{$name}: (font-size: var(--font-size-#{$name})));
}

@include mix.generate-responsive(get-list(var.$font-sizes));
