@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

$rules: (
	hide: (
		display: none,
	),
);

@include mix.generate-responsive($rules);

@include mix.generate-except-responsive($rules);
