main {
	min-height: 100%;
	background-color: rgb(255 255 255 / 90%);

	#confetti {
		position: relative;
		z-index: 100;
	}

	.info {
		min-height: 40px;
	}

	#card-game {
		// display: grid;
		// grid-gap: var(--spacing-md);
		// grid-template-columns: repeat(4, auto);
		gap: 8px;
		justify-content: center;

		set-card {
			width: 23%;
		}
	}
}
