<main id="game" class="content-fixed py-sm px-md">
	<div class="flex-row justify-between">
		<div class="flex-col gap-sm">
			<a routerLink="/">Sets found: {{ sets().length / 3 }}</a>
			<p (click)="cheatGame()">Wrong sets: {{ wrongSetsCount() }}</p>
			<a routerLink="/game">Card in deck: {{ remainingCardsCount() }}</a>

			<!-- <span (click)="serviceWorkerCheckUpdates()">Check updates</span> -->
		</div>

		<div class="flex-col gap-sm">
			<button class="p-sm surface-vivid round-md text-center" (click)="addExtraCards()">
				Add cards
			</button>

			<button class="p-sm surface-vivid round-md" (click)="highlightSet()">
				{{ 'Highlight set' }}
			</button>
		</div>
	</div>

	<p class="info my-sm mb-md">{{ message() }}</p>

	<section id="card-game" class="flex-row flex-wrap justify-center">
		@for (card of boardCards(); track $index) {
			<set-card
				[shape]="card.shape"
				[color]="card.color"
				[shading]="card.shading"
				[count]="card.number"
				[vertical]="true"
				[selected]="isSelected(card)"
				[highlighted]="showSets() % 2 === 1 && imInSet(card)"
				(click)="selectCard(card)"
			></set-card>
		}
	</section>

	@if (remainingCardsCount() === 0 && cardsInSets().length === 0) {
		<set-you-won (playAgain)="newGame()"></set-you-won>
	}
</main>
