<main id="typograpy" class="content-fixed pt-lg pb-xxl">
	<set-example-menu />

	<h2 class="mt-xl">Welcome to Typographies!</h2>

	<h3 class="mt-xl">Font size (text-xx)</h3>

	<section id="font-sizes" class="flex-col gap-lg my-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		@for (size of sizes; track $index) {
			<p [class]="'text-' + size">
				<span class="surface-vivid round-sm px-xs">{{ size }}</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
				dolorum illum nobis mollitia.
			</p>
		}
	</section>

	<h3 class="mt-xxl">Font weight (weight-xx)</h3>

	<section id="font-weights" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		@for (weight of weights; track $index) {
			<p [class]="'weight-' + weight">
				<span class="surface-vivid round-sm px-sm mono-xl">{{ weight }}</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
				dolorum illum nobis mollitia.
			</p>
		}
	</section>

	<h3 class="mt-xxl">Font oblique (oblique-xx)</h3>

	<section id="font-obliques" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		@for (oblique of obliques; track $index) {
			<p [class]="'oblique-' + oblique">
				<span class="surface-vivid round-sm px-sm mono-xl">{{ oblique }}</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
				dolorum illum nobis mollitia.
			</p>
		}
	</section>

	<h3 class="mt-xxl">Font monospace (monospace-xx)</h3>

	<section id="font-monospaces" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		@for (mono of monos; track $index) {
			<p [class]="'mono-' + mono">
				<span class="surface-vivid round-sm px-sm mono-xl">{{ mono }}</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
				dolorum illum nobis mollitia.
			</p>
		}
	</section>

	<h3 class="mt-xxl">Font casual (casual-xx)</h3>

	<section id="font-casuals" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		@for (casual of casuals; track $index) {
			<p [class]="'casual-' + casual">
				<span class="surface-vivid round-sm px-sm mono-xl">{{ casual }}</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
				dolorum illum nobis mollitia.
			</p>
		}
	</section>
</main>
