<main id="example" class="content-fixed pt-lg pb-xxl">
	<h2>{{ hello() }}</h2>

	<set-example-menu />

	<section id="media-query-indicator" class="mt-xxl">
		<ul class="flex-row my-md gap-sm lg:gap-md">
			<li class="round-sm p-xs px-sm surface-radiant color-vivid xs-o:surface-serene">xs</li>
			<li class="round-sm p-xs px-sm surface-radiant color-vivid sm-o:surface-serene">sm</li>
			<li class="round-sm p-xs px-sm surface-radiant color-vivid md-o:surface-serene">md</li>
			<li class="round-sm p-xs px-sm surface-radiant color-vivid lg-o:surface-serene">lg</li>
			<li class="round-sm p-xs px-sm surface-radiant color-vivid xl-o:surface-serene">xl</li>
		</ul>
	</section>

	<section id="logos" class="flex-row flex-wrap justify-center gap-lg mt-lg">
		<a href="https://nx.dev" target="_blank">
			<set-glitch-svg
				svgPath="assets/logos/nx.svg"
				imgAlt="Nx - Smart, Fast and Extensible Build System"
			/>
		</a>

		<a href="https://nestjs.com" target="_blank">
			<set-glitch-svg
				svgPath="assets/logos/nestjs.svg"
				imgAlt="A progressive Node.js framework for building efficient, reliable and scalable server-side applications"
			/>
		</a>

		<a href="https://mikro-orm.io" target="_blank">
			<set-glitch-svg
				svgPath="assets/logos/mikro-orm.svg"
				imgAlt="TypeScript ORM for Node.js based on Data Mapper, Unit of Work and Identity Map patterns"
			/>
		</a>

		<a href="https://graphql.org" target="_blank">
			<set-glitch-svg svgPath="assets/logos/graphql.svg" imgAlt="A query language for your API" />
		</a>

		<a href="https://angular.io" target="_blank">
			<set-glitch-svg
				svgPath="assets/logos/angular.svg"
				imgAlt="The modern web developer's platform"
			/>
		</a>

		<a href="https://ngrx.io/guide/signals" target="_blank">
			<set-glitch-svg
				svgPath="assets/logos/ngrx.svg"
				imgAlt="A fully-featured state management solution that offers a robust way to manage application state"
			/>
		</a>
	</section>

	<section class="flex-col gap-md align-center mt-lg">
		<button
			class="p-sm md:p-md surface-radiant round-md xl-o:surface-vivid"
			(click)="initSubscription()"
		>
			Init subscription
		</button>

		@if (getManySubscription()) {
			<p>
				{{ getManySubscription() }}
			</p>
		}

		@if (getPings()) {
			<p>
				{{ getPings() | json }}
			</p>
		}

		<button class="p-sm md:p-md surface-radiant round-md xl-o:surface-vivid" (click)="checkUsers()">
			Check users
		</button>

		@if (data()) {
			<p>{{ data() }}</p>
		}
	</section>
</main>
