<main id="typograpy" class="content-fixed pt-lg pb-xxl">
	<h2>Welcome to Border radius!</h2>

	<set-example-menu></set-example-menu>

	<h3 class="mt-xxl">Border radius sizes</h3>

	<section id="border-radius-sizes" class="flex-col gap-lg my-md">
		<div class="surface-vivid color-vivid p-md round-none">
			<span class="surface-radiant color-vivid round-sm px-xs">none</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-vivid color-vivid p-md round-sm">
			<span class="surface-radiant color-vivid round-sm px-xs">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-vivid color-vivid p-md round-md">
			<span class="surface-radiant color-vivid round-sm px-xs">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-vivid color-vivid p-md round-lg">
			<span class="surface-radiant color-vivid round-sm px-xs">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>
	</section>
</main>
