<main id="typograpy" class="content-fixed pt-lg pb-xxl">
	<h2>Welcome to Colors!</h2>

	<set-example-menu></set-example-menu>

	<h3 class="mt-xxl">Content colors</h3>

	<section id="content-colors" class="flex-col gap-lg my-md">
		<p class="color-cosmic">
			<span class="surface-radiant color-vivid round-sm px-xs">cosmic</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="color-radiant">
			<span class="surface-radiant color-vivid round-sm px-xs">radiant</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="color-harmony">
			<span class="surface-radiant color-vivid round-sm px-xs">harmony</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="color-vivid">
			<span class="surface-radiant color-vivid round-sm px-xs">vivid</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="color-serene">
			<span class="surface-radiant color-vivid round-sm px-xs">serene</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xxl">Surface colors</h3>

	<section id="content-colors" class="flex-col gap-lg my-md">
		<div class="surface-cosmic color-cosmic round-md p-md">
			<span class="surface-radiant color-vivid round-sm px-xs">cosmic</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-radiant color-radiant round-md p-md">
			<span class="surface-radiant color-vivid round-sm px-xs">radiant</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-harmony color-harmony round-md p-md">
			<span class="surface-radiant color-vivid round-sm px-xs">harmony</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-vivid color-vivid round-md p-md">
			<span class="surface-radiant color-vivid round-sm px-xs">vivid</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="surface-serene color-serene round-md p-md">
			<span class="surface-radiant color-vivid round-sm px-xs">serene</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>
	</section>
</main>
