:host {
	display: flex;
	flex-direction: column;

	#app-version {
		position: fixed;
		bottom: 0;
		color: rgb(255 255 255 / 90%);

		&::before {
			content: attr(data-text);
			position: absolute;
			z-index: -1;

			-webkit-text-stroke: 2px rgb(0 0 0 / 30%);
		}
	}
}
