.container {
	aspect-ratio: 1 / 0.6666;
	background: white;
	border: solid 0.1rem #e5e5e5;
	border-radius: 3.3% / 5%;

	.card {
		gap: 6%;
		height: 100%;
		padding: 9.5% 0;

		set-card-shape {
			display: contents;
		}
	}

	&.highlighted {
		border-color: #25b148;
	}

	&.selected {
		border-color: #4d4d4d;
	}

	&.vertical {
		aspect-ratio: 0.6666 / 1;
		border-radius: 5% / 3.3%;

		.card {
			padding: 0 14.3%;

			set-card-shape {
				display: block;
				width: 100%;
			}
		}
	}
}
