<main id="color" class="content-fixed flex-col gap-xl pt-lg pb-xxl">
	<app-example-menu />

	<h2>Welcome to Colors!</h2>

	<div class="flex-col gap-md">
		<h3>Content colors</h3>

		<section id="content-colors" class="flex-col gap-lg">
			<p>
				<span class="surface-radiant round-sm px-xs">off</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
				dolorum illum nobis mollitia.
			</p>

			@for (color of colors; track $index) {
				<p [class]="'color-' + color">
					<span class="surface-vivid color-cosmic round-sm px-xs">{{ color }}</span>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione
					minus dolorum illum nobis mollitia.
				</p>
			}
		</section>
	</div>

	<div class="flex-col gap-md">
		<h3>Surface colors</h3>

		<section id="content-colors" class="flex-col gap-lg">
			@for (color of colors; track $index) {
				<div class="round-md p-md" [class]="'surface-' + color + ' color-' + color">
					<span class="surface-vivid color-cosmic round-sm px-xs">{{ color }}</span>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione
					minus dolorum illum nobis mollitia.
				</div>
			}
		</section>
	</div>
</main>
