<section>
	<h1>Welcome to app!</h1>

	<div class="logos">
		<a href="https://nx.dev" target="_blank">
			<img
				src="/assets/nx-grayscale-logo.svg"
				alt="Nx - Smart, Fast and Extensible Build System"
				[setOnlineHoverSrc]="'/assets/nx-logo.svg'"
		/></a>

		<a href="https://nestjs.com" target="_blank">
			<img
				src="/assets/nestjs-grayscale-logo.svg"
				alt="A progressive Node.js framework for building efficient, reliable and scalable server-side applications"
				[setOnlineHoverSrc]="'/assets/nestjs-logo.svg'"
		/></a>

		<a href="https://mikro-orm.io" target="_blank">
			<img
				src="/assets/mikro-orm-grayscale-logo.svg"
				alt="TypeScript ORM for Node.js based on Data Mapper, Unit of Work and Identity Map patterns"
				[setOnlineHoverSrc]="'/assets/mikro-orm-logo.svg'"
		/></a>

		<a href="https://graphql.org" target="_blank">
			<img
				src="/assets/graphql-grayscale-logo.svg"
				alt="A query language for your API"
				[setOnlineHoverSrc]="'/assets/graphql-logo.svg'"
		/></a>

		<a href="https://angular.io" target="_blank">
			<img
				src="/assets/angular-grayscale-logo.svg"
				alt="The modern web developer's platform"
				[setOnlineHoverSrc]="'/assets/angular-logo.svg'"
		/></a>

		<a href="https://ngneat.github.io/elf" target="_blank">
			<img
				src="/assets/elf-grayscale-logo.svg"
				alt="A Reactive Store with Magical Powers"
				[setOnlineHoverSrc]="'/assets/elf-logo.svg'"
		/></a>
	</div>

	<p>Message: {{ hello() }}</p>

	<p>{{ users() }}</p>

	<button (click)="checkUsers()">Check users</button>
</section>
