main {
	min-height: 100%;
	background-color: white;

	app-card-shape {
		width: 76px;
	}

	#card-list-horizontal {
		app-card {
			width: 342px;
		}
	}

	#card-list-vertical {
		app-card {
			width: 228px;
		}
	}
}
