<main id="card" class="content-fixed flex-col gap-xl pt-lg pb-xxl">
	<app-example-menu />

	<h2>Welcome to Cards!</h2>

	<div class="flex-col gap-md">
		<h3>Card shapes</h3>

		<section id="card-shapes" class="flex-row flex-wrap gap-x-xl gap-y-lg">
			@for (shape of shapes; track $index) {
				@for (color of colors; track $index) {
					@for (shading of shadings; track $index) {
						<app-card-shape [shape]="shape" [color]="color" [shading]="shading" />
					}
				}
			}
		</section>
	</div>

	<div class="flex-col gap-md">
		<h3>Card list horizontal</h3>

		<section id="card-list-horizontal" class="flex-row flex-wrap gap-md">
			@for (shape of shapes; track $index) {
				@for (color of colors; track $index) {
					@for (shading of shadings; track $index) {
						@for (count of counts; track $index) {
							<app-card [shape]="shape" [color]="color" [shading]="shading" [count]="count" />
						}
					}
				}
			}
		</section>
	</div>

	<div class="flex-col gap-md">
		<h3>Card list vertical</h3>

		<section id="card-list-vertical" class="flex-row flex-wrap gap-md">
			@for (shape of shapes; track $index) {
				@for (color of colors; track $index) {
					@for (shading of shadings; track $index) {
						@for (count of counts; track $index) {
							<app-card
								vertical
								[shape]="shape"
								[color]="color"
								[shading]="shading"
								[count]="count"
							/>
						}
					}
				}
			}
		</section>
	</div>
</main>
