<main id="game" class="content-fixed py-sm px-md">
	<div class="flex-row justify-between">
		<div class="flex-col gap-sm">
			<p>Sets found: {{ sets.length / 3 }}</p>
			<p>Wrong sets: {{ wrongSetsCount }}</p>
			<p>Card in deck: {{ 81 - (boardCards.length + sets.length) }}</p>
		</div>

		<div class="flex-col gap-sm">
			<button class="p-sm surface-vivid round-md text-center" (click)="addExtraCards()">
				No sets
			</button>
			<button class="p-sm surface-vivid round-md" (click)="toggleShowSets()">
				{{ showSets ? 'Disable cheats' : 'Enable cheats' }}
			</button>
		</div>
	</div>

	<p class="info my-sm mb-md">{{ message }}</p>

	<section id="card-game" class="flex-row flex-wrap justify-center">
		<ng-container *ngFor="let card of boardCards">
			<set-card
				[shape]="card.shape"
				[color]="card.color"
				[shading]="card.shading"
				[count]="card.number"
				[rotate]="true"
				[selected]="isSelected(card)"
				[highlighted]="showSets && imInSet(card)"
				(click)="selectCard(card)"
			></set-card>
		</ng-container>
	</section>
</main>
