<main id="typograpy" class="content-fixed pt-lg pb-xxl">
	<p class="flex-row gap-lg align-center">
		<span>Sets: {{ sets.length / 3 }}</span>
		<span>Wrong: {{ wrongSetsCount }}</span>
		<span>Card in deck: {{ 81 - (boardCards.length + sets.length) }}</span>
		<button class="p-sm surface-vivid round-md" (click)="addExtraCards()">No sets</button>
		<button class="p-sm surface-vivid round-md" (click)="toggleShowSets()">
			{{ showSets ? 'Disable cheats' : 'Enable cheats' }}
		</button>

		{{ message }}

		Test message
	</p>

	<section id="card-game" class="mt-xl">
		<ng-container *ngFor="let card of boardCards">
			<set-card
				[shape]="card.shape"
				[color]="card.color"
				[shading]="card.shading"
				[count]="card.number"
				[selected]="isSelected(card)"
				[highlighted]="showSets && imInSet(card)"
				(click)="selectCard(card)"
			></set-card>
		</ng-container>
	</section>
</main>
