<main id="game" class="content-fixed py-sm px-md">
	<div class="flex-row justify-between">
		<div class="flex-col gap-sm">
			<p>Sets found: {{ sets().length / 3 }}</p>
			<p>Wrong sets: {{ wrongSetsCount() }}</p>
			<a routerLink="/game">Card in deck: {{ remainingCardsCount() }}</a>
		</div>

		<div class="flex-col gap-sm">
			<button class="p-sm surface-vivid round-md text-center" (click)="addExtraCards()">
				No sets
			</button>
			<button class="p-sm surface-vivid round-md" (click)="toggleShowSets()">
				{{ 'Highlight set' }}
			</button>
		</div>
	</div>

	<p class="info my-sm mb-md">{{ message() }}</p>

	<section id="card-game" class="flex-row flex-wrap justify-center">
		<ng-container *ngFor="let card of boardCards()">
			<set-card
				[shape]="card.shape"
				[color]="card.color"
				[shading]="card.shading"
				[count]="card.number"
				[rotate]="true"
				[selected]="isSelected(card)"
				[highlighted]="showSets() % 2 === 1 && imInSet(card)"
				(click)="selectCard(card)"
			></set-card>
		</ng-container>
	</section>

	<div id="tsparticles"></div>

	<set-you-won
		*ngIf="remainingCardsCount() === 0 && cardsInSets().length === 0"
		(playAgain)="newGame()"
	></set-you-won>
</main>
