<main id="example" class="content-fixed flex-col pt-lg pb-xxl gap-lg">
	<app-example-menu />

	<h2>{{ hello() }}</h2>

	<section id="media-query-indicator">
		<ul class="flex-row gap-sm lg:gap-md">
			<li class="round-sm p-xs px-sm color-vivid surface-radiant xs-o:surface-serene">xs</li>
			<li class="round-sm p-xs px-sm color-vivid surface-radiant sm-o:surface-serene">sm</li>
			<li class="round-sm p-xs px-sm color-vivid surface-radiant md-o:surface-serene">md</li>
			<li class="round-sm p-xs px-sm color-vivid surface-radiant lg-o:surface-serene">lg</li>
			<li class="round-sm p-xs px-sm color-vivid surface-radiant xl-o:surface-serene">xl</li>
		</ul>
	</section>

	<section id="logos" class="flex-row flex-wrap justify-center gap-lg">
		<a href="https://nx.dev" target="_blank">
			<app-glitch-svg
				svgPath="logos/nx.svg"
				imgAlt="Nx - Smart, Fast and Extensible Build System"
			/>
		</a>

		<a href="https://nestjs.com" target="_blank">
			<app-glitch-svg
				svgPath="logos/nestjs.svg"
				imgAlt="A progressive Node.js framework for building efficient, reliable and scalable server-side applications"
			/>
		</a>

		<a href="https://mikro-orm.io" target="_blank">
			<app-glitch-svg
				svgPath="logos/mikro-orm.svg"
				imgAlt="TypeScript ORM for Node.js based on Data Mapper, Unit of Work and Identity Map patterns"
			/>
		</a>

		<a href="https://graphql.org" target="_blank">
			<app-glitch-svg svgPath="logos/graphql.svg" imgAlt="A query language for your API" />
		</a>

		<a href="https://angular.io" target="_blank">
			<app-glitch-svg
				svgPath="logos/angular.svg"
				maskPath="logos/angular-flat.svg"
				imgAlt="The modern web developer's platform"
			/>
		</a>

		<a href="https://ngrx.io/guide/signals" target="_blank">
			<app-glitch-svg
				svgPath="logos/ngrx.svg"
				maskPath="logos/ngrx-flat.svg"
				imgAlt="A fully-featured state management solution that offers a robust way to manage application state"
			/>
		</a>
	</section>

	<section class="flex-col gap-md align-center">
		<button
			class="p-sm md:p-md surface-radiant round-md xl-o:surface-vivid"
			(click)="initSubscription()"
		>
			Init subscription
		</button>

		@if (getManySubscription() !== undefined) {
			<p>
				{{ getManySubscription() }}
			</p>
		}

		@if (getPings() !== undefined) {
			<p>
				{{ getPings() | json }}
			</p>
		}

		<button class="p-sm md:p-md surface-radiant round-md xl-o:surface-vivid" (click)="checkUsers()">
			Check users
		</button>

		@if (data() !== undefined) {
			<p>{{ data() }}</p>
		}
	</section>
</main>
