main {
	min-height: 100%;
	background-color: white;

	set-card-shape {
		width: 85px;
	}

	#card-list-horizontal {
		set-card {
			// width: 373px;
			width: 30%;
		}
	}

	#card-list-vertical {
		set-card {
			// width: 178px;
			width: 15%;
		}
	}
}
