<main id="typograpy" class="content-fixed py-lg pb-xxl">
	<h2>Welcome to Typographies!</h2>

	<set-example-menu></set-example-menu>

	<h3 class="mt-xl">Font sizes</h3>

	<section id="font-sizes" class="fl-cl gap-lg my-md">
		<p>
			<span class="bg-radiant br-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fs-sm">
			<span class="bg-vivid br-sm px-xs">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fs-md">
			<span class="bg-vivid br-sm px-sm fm-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fs-lg">
			<span class="bg-vivid br-sm px-sm fm-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fs-xl">
			<span class="bg-vivid br-sm px-sm fm-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fs-xxl">
			<span class="bg-vivid br-sm px-sm fm-xl">xxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fs-xxxl">
			<span class="bg-vivid br-sm px-sm fm-xl">xxxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font weights</h3>

	<section id="font-weights" class="fl-cl gap-lg mt-md">
		<p>
			<span class="bg-radiant br-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fw-sm">
			<span class="bg-vivid br-sm px-sm fm-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fw-md">
			<span class="bg-vivid br-sm px-sm fm-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fw-lg">
			<span class="bg-vivid br-sm px-sm fm-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fw-xl">
			<span class="bg-vivid br-sm px-sm fm-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fw-xxl">
			<span class="bg-vivid br-sm px-sm fm-xl">xxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fw-xxxl">
			<span class="bg-vivid br-sm px-sm fm-xl">xxxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font obliques</h3>

	<section id="font-obliques" class="fl-cl gap-lg mt-md">
		<p>
			<span class="bg-radiant br-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fo-sm">
			<span class="bg-vivid br-sm px-sm fm-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fo-md">
			<span class="bg-vivid br-sm px-sm fm-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fo-lg">
			<span class="bg-vivid br-sm px-sm fm-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font monospaces</h3>

	<section id="font-monospaces" class="fl-cl gap-lg mt-md">
		<p>
			<span class="bg-radiant br-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fm-xs">
			<span class="bg-vivid br-sm px-sm fm-xl">xs</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fm-sm">
			<span class="bg-vivid br-sm px-sm fm-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fm-md">
			<span class="bg-vivid br-sm px-sm fm-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fm-lg">
			<span class="bg-vivid br-sm px-sm fm-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fm-xl">
			<span class="bg-vivid br-sm px-sm fm-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font casuals</h3>

	<section id="font-casuals" class="fl-cl gap-lg mt-md">
		<p>
			<span class="bg-radiant br-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fc-xs">
			<span class="bg-vivid br-sm px-sm fm-xl">xs</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fc-sm">
			<span class="bg-vivid br-sm px-sm fm-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fc-md">
			<span class="bg-vivid br-sm px-sm fm-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fc-lg">
			<span class="bg-vivid br-sm px-sm fm-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="fc-xl">
			<span class="bg-vivid br-sm px-sm fm-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>
</main>
