<div id="main-layout" class="flex-col">
	<section id="header" class="content-fixed flex-col py-md">
		<nav class="flex-row flex-wrap justify-center gap-sm my-md">
			<set-media-debug></set-media-debug>
			<ng-container *ngTemplateOutlet="button; context: { text: 'Register', link: '/register' }"></ng-container>
			<ng-container *ngTemplateOutlet="button; context: { text: 'Login', link: '/login' }"></ng-container>
			<ng-container *ngTemplateOutlet="
					button;
					context: { text: 'Logout', link: '/login', click: logout(), surface: 'radiant' }
				"></ng-container>
			<ng-container *ngTemplateOutlet="button; context: { text: 'Home', link: '/home' }"></ng-container>
			<ng-container *ngTemplateOutlet="button; context: { text: 'Example', link: '/example' }"></ng-container>
			<ng-container *ngTemplateOutlet="button; context: { text: 'Game', link: '/game' }"></ng-container>
			<ng-container *ngTemplateOutlet="button; context: { text: 'Online', link: '/online' }"></ng-container>
		</nav>

		<ng-template #button let-text="text" let-link="link" let-click="click" let-surface="surface">
			<a class="round-sm p-xs px-sm"
				[class]="active.isActive ? 'weight-xxl surface-serene' : 'surface-' + (surface || 'vivid')" routerLinkActive
				#active="routerLinkActive" [routerLink]="link" (click)="click ? click() : null">{{ text }}</a>
		</ng-template>

		@if (user()) {
		<p class="text-sm text-right">Welcome {{ user()?.username }}</p>
		}
		@if (userError()) {
		<p class="text-sm text-right">
			GetUserInfo error: {{ userError() | json }}
		</p>
		}
	</section>

	<div class="scroll">
		<router-outlet></router-outlet>
	</div>
</div>
