<main id="typograpy" class="content-fixed py-lg pb-xxl">
	<h2>Welcome to Typographies!</h2>

	<set-example-menu></set-example-menu>

	<h3 class="mt-xl">Font sizes</h3>

	<section id="font-sizes" class="flex-col gap-lg my-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="size-sm">
			<span class="surface-vivid round-sm px-xs">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="size-md">
			<span class="surface-vivid round-sm px-sm mono-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="size-lg">
			<span class="surface-vivid round-sm px-sm mono-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="size-xl">
			<span class="surface-vivid round-sm px-sm mono-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="size-xxl">
			<span class="surface-vivid round-sm px-sm mono-xl">xxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="size-xxxl">
			<span class="surface-vivid round-sm px-sm mono-xl">xxxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font weights</h3>

	<section id="font-weights" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="weight-sm">
			<span class="surface-vivid round-sm px-sm mono-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="weight-md">
			<span class="surface-vivid round-sm px-sm mono-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="weight-lg">
			<span class="surface-vivid round-sm px-sm mono-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="weight-xl">
			<span class="surface-vivid round-sm px-sm mono-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="weight-xxl">
			<span class="surface-vivid round-sm px-sm mono-xl">xxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="weight-xxxl">
			<span class="surface-vivid round-sm px-sm mono-xl">xxxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font obliques</h3>

	<section id="font-obliques" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="oblique-sm">
			<span class="surface-vivid round-sm px-sm mono-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="oblique-md">
			<span class="surface-vivid round-sm px-sm mono-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="oblique-lg">
			<span class="surface-vivid round-sm px-sm mono-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font monospaces</h3>

	<section id="font-monospaces" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="mono-xs">
			<span class="surface-vivid round-sm px-sm mono-xl">xs</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="mono-sm">
			<span class="surface-vivid round-sm px-sm mono-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="mono-md">
			<span class="surface-vivid round-sm px-sm mono-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="mono-lg">
			<span class="surface-vivid round-sm px-sm mono-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="mono-xl">
			<span class="surface-vivid round-sm px-sm mono-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>

	<h3 class="mt-xl">Font casuals</h3>

	<section id="font-casuals" class="flex-col gap-lg mt-md">
		<p>
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="casual-xs">
			<span class="surface-vivid round-sm px-sm mono-xl">xs</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="casual-sm">
			<span class="surface-vivid round-sm px-sm mono-xl">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="casual-md">
			<span class="surface-vivid round-sm px-sm mono-xl">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="casual-lg">
			<span class="surface-vivid round-sm px-sm mono-xl">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>

		<p class="casual-xl">
			<span class="surface-vivid round-sm px-sm mono-xl">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</p>
	</section>
</main>
