@use '../abstracts/variables' as var;

:root {
	@each $size, $value in var.$spacing {
		--spacing-#{$size}: #{$value};
	}

	@each $size, $value in var.$borders-radius {
		--border-radius-#{$size}: #{$value};
	}

	@each $name, $value in var.$color {
		--color-#{$name}: #{$value};
	}

	@each $name, $value in var.$card-color {
		--card-#{"" + $name}: #{$value};
	}

	@each $name, $value in var.$font-size {
		--font-size-#{$name}: #{$value};
	}

	@each $name, $value in var.$font-weight {
		--font-weight-#{$name}: #{$value};
	}

	@each $name, $value in var.$font-oblique {
		--font-oblique-#{$name}: #{$value};
	}

	@each $name, $value in var.$font-monospace {
		--font-mono-space-#{$name}: #{$value};
	}

	@each $name, $value in var.$font-casual {
		--font-casual-#{$name}: #{$value};
	}

	@each $name, $value in var.$shadow {
		--shadow-#{$name}: #{$value};
	}
}
