$breakpoints: (
	sm: 480px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
) !default;

$spacings: (
	zero: 0,
	xs: 0.25rem,
	sm: 0.5rem,
	md: 1rem,
	lg: 2rem,
	xl: 3rem,
	xxl: 4rem,
	xxxl: 6rem,
) !default;

$borders-radius: (
	zero: 0,
	sm: 0.25rem,
	md: 0.5rem,
	lg: 1rem,
) !default;

$colors: (
	cosmic: #341f97,
	radiant: #fd5e53,
	harmony: #00adb5,
	vivid: #ffbe0b,
	serene: #41aa1b,
) !default;

$dark-colors: (
	cosmic: #341f97,
	radiant: #fd5e53,
	harmony: #00adb5,
	vivid: #ffbe0b,
	serene: #41aa1b,
) !default;

$font-sizes: (
	sm: 0.8rem,
	md: 1rem,
	lg: 1.25rem,
	xl: 1.5rem,
	xxl: 2rem,
	xxxl: 2.75rem,
) !default;

$font-weights: (
	sm: 300,
	md: 400,
	lg: 500,
	xl: 600,
	xxl: 700,
	xxxl: 900,
) !default;

$font-obliques: (
	sm: 5,
	md: 10,
	lg: 15,
) !default;

$font-monospaces: (
	xs: 0.2,
	sm: 0.4,
	md: 0.6,
	lg: 0.8,
	xl: 1,
) !default;

$font-casuals: (
	xs: 0.2,
	sm: 0.4,
	md: 0.6,
	lg: 0.8,
	xl: 1,
) !default;

$shadows: (
	none: none,
	sm: 0 1px 2px 0 rgb(0 0 0 / 5%),
	md: 0 4px 6px -1px rgb(0 0 0 / 10%),
	lg: 0 10px 15px -3px rgb(0 0 0 / 10%),
	xl: 0 20px 25px -5px rgb(0 0 0 / 10%),
	xxl: 0 25px 50px -12px rgb(0 0 0 / 25%),
) !default;
