.container {
	border-radius: 3.3% / 5%;

	.card {
		gap: 6%;
		aspect-ratio: 1 / 0.666;
		padding: 9.5% 0;

		&.rotate {
			translate: -16.7% 25.2%;
			rotate: 90deg;
			padding: 14.5% 0;
		}

		set-card-shape {
			display: contents;
		}
	}
}
