<main id="typograpy" class="content-fixed pt-lg pb-xxl">
	<set-example-menu></set-example-menu>

	<h2 class="mt-xl">Welcome to Shadows!</h2>

	<h3 class="mt-xl">Shadow sizes</h3>

	<section id="shadow-sizes" class="gap-xxl my-md">
		<div class="round-lg p-md">
			<span class="surface-radiant round-sm px-xs">off</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="round-lg p-md shadow-sm">
			<span class="surface-vivid round-sm px-xs">sm</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="round-lg p-md shadow-md">
			<span class="surface-vivid round-sm px-xs">md</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="round-lg p-md shadow-lg">
			<span class="surface-vivid round-sm px-xs">lg</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="round-lg p-md shadow-xl">
			<span class="surface-vivid round-sm px-xs">xl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>

		<div class="round-lg p-md shadow-xxl">
			<span class="surface-vivid round-sm px-xs">xxl</span>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum ratione minus
			dolorum illum nobis mollitia.
		</div>
	</section>
</main>
